.page {
  padding: 40px 24px;
  padding-top: calc(40px + env(safe-area-inset-top));
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
  padding-left: calc(24px + env(safe-area-inset-left));
  padding-right: calc(24px + env(safe-area-inset-right));
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .page {
    padding: 48px 32px;
  }
}
